body {
  padding: 50px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.report {
  width: 100%;
  border-collapse: collapse;

  td, th {
    font-size: 1em;
    border: 1px solid #eaeaea;
    padding: 3px 7px 2px 7px;
  }

  th {
    font-size: 1.1em;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #eaeaea;
    color: black;
  }

  tr:nth-child(odd) {
    color: #000000;
    background-color: #c8c8c8;
  }

}