<!DOCTYPE HTML>
<!--
	Miniport by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
    <title>Honey Creek Community School Anniversary Party!</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!--[if lte IE 8]>
    <script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="assets/css/main.css"/>
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="assets/css/ie8.css"/><![endif]-->
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="assets/css/ie9.css"/><![endif]-->

</head>
<body>

<!-- Nav -->
<nav id="nav">
    <ul class="container">
        <li class="fullwidthmobile"><a href="http://honeycreekschool.org/"><img src="images/logo2.png"></a></li>
        <li><a href="#top"></a></li>
        <li><a href="#top">Home</a></li>
        <li><a href="#work">Fun</a></li>
        <li><a href="#portfolio">Memories</a></li>
        <li><a href="#contact">Register</a></li>
        <li><a href="http://www.honeycreekfoundation.org/">Give</a></li>
    </ul>
</nav>

<!-- Home -->
<div class="wrapper style1 first">
    <article class="container" id="top">
        <div class="row">
            <div class="4u 12u(mobile)">
                <span class="image fit"><img src="images/smile.jpg" alt=""/></span>
            </div>
            <div class="8u 12u(mobile)">
                <header>
                    <h1>21 years. <strong>Celebrate with us!</strong>.</h1>
                </header>
                <p>We're gathering community members past and present to honor our first 21 years, and help us prepare
                    for the next 21.</p>
                <a href="#work" class="button big scrolly">I hear there's a party?</a>
            </div>
        </div>
    </article>
</div>

<!-- Work -->
<div class="wrapper style2">
    <article id="work">
        <header>
            <h2>Here's what we're planning for May 2016.</h2>

            <p>Fun for everyone, from 1 to 92.</p>
        </header>
        <div class="container">
            <div class="row">
                <div class="3u 12u(mobile)">
                    <section class="box style1">
                        <span class="icon featured"><img width="79" height="79" src="images/icecream.svg"></span>

                        <h3>Ben & Jerry's Ice Cream Bar</h3>

                        <p>Nature's most perfect food.<br><br></p>
                    </section>
                </div>
                <div class="3u 12u(mobile)">
                    <section class="box style1">
                        <span class="icon featured fa-ticket"></span>

                        <h3>Raffle</h3>

                        <p><br>Enter to win prizes donated by and for our community.<br></p>
                    </section>
                </div>
                <div class="3u 12u(mobile)">
                    <section class="box style1">
                        <span class="icon featured fa-gamepad"></span>

                        <h3>Games</h3>

                        <p><br>No, not Nintendo! <br>Engaging fun for everyone.<br></p>
                    </section>
                </div>
                <div class="3u 12u(mobile)">
                    <section class="box style1">
                        <span class="icon featured fa-music"></span>

                        <h3>Live music</h3>

                        <p><br>Entertainment from talented local artists.<br><br></p>
                    </section>
                </div>
            </div>
        </div>
        <footer>
            <p>Sound like fun yet?</p>
            <a href="#portfolio" class="button big scrolly">See our memories</a>
        </footer>
    </article>
</div>

<!-- Portfolio -->
<div class="wrapper style3">
    <article id="portfolio">
        <header>
            <h2>Share your memories of Honey Creek with us!</h2>

            <p>Here are some photos and posts shared by members of the community.</p>
        </header>
        <div class="thumbnails container">
            <div class="row" id="gallery-row-1">
                <div class="4u 12u(mobile)">
                    <article class="box style2">
                        <a href="#" class="image featured"><img src="images/garden.jpg" alt=""/></a>

                        <h3><a href="#">Farm to School</a></h3>

                        <p>Hands-on learning! Our daughter will know the answer to "where does food come from?"<br>
                            --Honey Creek Parent</p>
                    </article>
                </div>
                <div class="4u 12u(mobile)">
                    <article class="box style2">
                        <a href="#" class="image featured"><img src="images/team.jpg" alt=""/></a>

                        <h3><a href="#">Teamwork!</a></h3>

                        <p>We believe that the development of cooperative learning strategies and the ability to work
                            successfully as a team member are essential life skills.</p>
                    </article>
                </div>
                <div class="4u 12u(mobile)">
                    <article class="box style2">
                        <a href="#" class="image featured"><img src="images/chorus.jpg" alt=""/></a>

                        <h3><a href="#">Making Music</a></h3>

                        <p>We believe that celebrating academic, personal, and civic achievement promotes enthusiasm for
                            learning and supports a positive self-image.</p>
                    </article>
                </div>
            </div>
        </div>
        <footer>
            <p>Ready to register and share your thoughts?</p>
            <a href="#contact" class="button big scrolly">Get in touch with us</a>
        </footer>
    </article>
</div>

<!-- Contact -->
<div class="wrapper style4">
    <article id="contact" class="container 75%">
        <header>
            <h2>Register your details here.</h2>

            <p>Registration lets you post photos and comments. Your email will be your login.</p>
        </header>
        <div>
            <div class="row">
                <div class="12u">
                    <form class="upload_form" method="post" action="#">
                        <div>
                            <div class="row">
                                <div class="6u 12u(mobile)">
                                    <input type="text" name="name" id="name" placeholder="Name"/>
                                </div>
                                <div class="6u 12u(mobile)">
                                    <input type="text" name="email" id="email" placeholder="Email"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="12u">
                                    <input type="text" name="subject" id="subject" placeholder="Subject"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="12u">
                                    <textarea name="message" id="message" placeholder="Message"></textarea>
                                </div>
                            </div>

                            <div class="upload_widget_wrapper">
                                <div id="upload_widget_opener"></div>
                            </div>
                            <div class="row">
                                <div class="hidden_thumbnail_gallery"></div>
                                <div class="row 12u" id="gallery-row-2"></div>
                            </div>
                            <div class="row 200%">
                                <div class="12u">
                                    <ul class="actions">
                                        <li><input type="submit" value="Send Message"/></li>
                                        <li><input type="reset" value="Clear Form" class="alt"/></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="12u">
                    <hr/>
                    <h3>Share the news on on ...</h3>
                    <ul class="social">
                        <li><a href="https://twitter.com/" class="icon fa-twitter"><span
                                class="label">Twitter</span></a></li>
                        <li><a href="https://www.facebook.com" class="icon fa-facebook"><span
                                class="label">Facebook</span></a></li>
                        <li><a href="https://plus.google.com" class="icon fa-google-plus"><span
                                class="label">Google+</span></a></li>
                        <li><a href="https://instagram.com/" class="icon fa-instagram"><span
                                class="label">Instagram</span></a></li>
                    </ul>
                    <hr/>
                </div>
            </div>
        </div>
        <footer>
            <ul id="copyright">
                <li>&copy; 2015, Honey Creek School. All rights reserved.</li>
                <li>HTML Template: <a href="http://html5up.net">HTML5 UP</a></li>
                <li>Website: <a href="mailto:matt@dulcetsoftware.com?subject=Honey Creek">Dulcet Software</a></li>
            </ul>
        </footer>
    </article>
</div>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/skel-viewport.min.js"></script>
<script src="assets/js/jquery.ui.widget.js"></script>
<script src="assets/js/jquery.iframe-transport.js"></script>
<script src="assets/js/jquery.fileupload.js"></script>
<script src="assets/js/jquery.cloudinary.js"></script>
<script src="assets/js/util.js"></script>
<!--[if lte IE 8]>
<script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script src="assets/js/main.js"></script>

<script src="//widget.cloudinary.com/global/all.js" type="text/javascript"></script>

<script type="text/javascript">

    var buildArticle = function (imageHtml, text) {
        return '<div class="4u 12u(mobile)">' +
                '<article class="box style2">' +
                '<a href="#" class="image featured">' + imageHtml + '</a>' +
//                '<h3><a href="#">' + caption + '</a></h3>' +
                '<p class="remove-shadow">' + text + '</p></article></div>';
    };

    $('#upload_widget_opener').cloudinary_upload_widget(
            {
                cloud_name: 'hztzss4vs', upload_preset: 'dz49gmc6', 'folder': 'pending',
                thumbnails: '.hidden_thumbnail_gallery', thumbnail_transformation: { width: 383, height: 383, crop: 'fill' }
            },
            function (error, result) {
                //hack to rearrange the html for the image gallery from cloudinary defaults...
                var galleryHtml = "";
                $('.cloudinary-thumbnails .cloudinary-thumbnail').each(function () {
                    var imageHtml =$(this).html();
                    galleryHtml+=(buildArticle(imageHtml, "Sample narrative to go along with the picture."))
                });

                console.log(galleryHtml);
                $('#gallery-row-2').html(galleryHtml);
            });
</script>

</body>
</html>
</html>