body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.cloudinary_fileupload {
  visibility: hidden;
}

.simply-scroll .simply-scroll-list li {
  min-height: 100px;
  height: auto;
}
